.square {
    margin-top: 50px;
    margin-left: 50px;
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
}

body {

    margin: 0;
}

#blue {

    background-color: blue;
}

#red {

    background-color: red;
}

.rectangle {
    margin: 0;
    height: 200px;
    width: 350px;
}